In [35]:
import pandas as pd

taxa = pd.read_csv('csv/Taxa.csv')
locations = pd.read_csv('csv/Locations.csv')
point_count_rec = pd.read_csv('csv/Point_count_recordings.csv')
point_count_data = pd.read_csv('csv/Point_count_data.csv')

point_count_data.columns = point_count_data.iloc[4]
point_count_data = point_count_data.drop(point_count_data.index[[0,1,2,3,4]])

point_count_rec.columns = point_count_rec.iloc[3]
point_count_rec = point_count_rec.drop(point_count_rec.index[[0,1,2,3]])

In [36]:
taxa
# locations
point_count_data.head(10)
point_count_rec

3,field_name,Point_count_ID,Audio_file,Site,Date,Time,Weather,Adi_Syamin,Jani,Notes
4,1,18_03_06_1,PC0000_0003,E100 edge,3/6/2018,10:15:00 AM,sun,1,1,NaN
5,2,18_03_06_2,PC0000_0004,E100 edge,3/6/2018,11:00:00 AM,sun,1,1,NaN
6,3,18_03_06_3,PC0000_0005,E100 edge,3/6/2018,12:00:00 PM,sun,1,1,NaN
7,4,18_03_06_4,PC0000_0006,E100 edge,3/6/2018,01:00:00 PM,sun,1,1,NaN
8,5,18_03_06_5,PC0000_0007,E100 edge,3/6/2018,02:00:00 PM,sun,1,1,NaN
9,6,18_03_06_6,PC0000_0008,E100 edge,3/6/2018,03:00:00 PM,sun,1,1,NaN
10,7,18_03_07_1,PC0000_0009,D100 641,3/7/2018,09:15:00 AM,sun,1,1,recorder on nice height about 1.20m on cut wil...
11,8,18_03_07_2,PC0000_0010,D100 641,3/7/2018,10:00:00 AM,sun,1,1,recorder on nice height about 1.20m on cut wil...
12,9,18_03_07_3,PC0000_0011,D100 641,3/7/2018,11:00:00 AM,sun,1,1,recorder on nice height about 1.20m on cut wil...
13,10,18_03_07_4,PC0000_0012,D100 641,3/7/2018,12:00:00 PM,sun,1,1,recorder on nice height about 1.20m on cut wil...
14,11,18_03_07_5,PC0000_0013,D100 641,3/7/2018,01:00:00 PM,sun,1,1,recorder on nice height about 1.20m on cut wil...
15,12,18_03_07_6,NaN,D100 641,3/7/2018,02:00:00 PM,sun,1,1,recorder on nice height about 1.20m on cut wil...
16,13,18_03_08_1,PC0000_0014,C10 621,3/8/2018,10:00:00 AM,sun,1,1,NaN
17,14,18_03_08_2,PC0000_0016,C10 621,3/8/2018,11:00:00 AM,sun,1,1,NaN
18,15,18_03_08_3,PC0000_0017,C10 621,3/8/2018,12:00:00 PM,clouded,1,1,NaN
19,16,18_03_08_4,PC0000_0018,C10 621,3/8/2018,01:00:00 PM,clouded,1,1,thunder in the distance
20,17,18_03_08_5,PC0000_0019,C10 621,3/8/2018,02:00:00 PM,rain,1,1,"at the beginning of the PC it was clouded, dur..."
21,18,18_03_08_6,PC0000_0020,C10 621,3/8/2018,03:00:00 PM,clouded,1,1,NaN
22,19,18_03_09_1,PC0000_0021,VJR 1,3/9/2018,11:20:00 AM,sun,1,1,NaN
23,20,18_03_09_2,PC0000_0022,VJR 1,3/9/2018,12:00:00 PM,sun,1,1,NaN
24,21,18_03_09_3,PC0000_0023,VJR 1,3/9/2018,01:00:00 PM,sun,1,1,NaN
25,22,18_03_09_4,PC0000_0024,VJR 1,3/9/2018,02:00:00 PM,clouded,1,1,NaN
26,23,18_03_09_5,PC0000_0025,VJR 1,3/9/2018,03:00:00 PM,sun,1,1,NaN
27,24,18_03_09_6,PC0000_0026,VJR 1,3/9/2018,04:00:00 PM,sun,1,1,NaN
28,25,18_03_10_1,NaN,E1 648,3/10/2018,10:00:00 AM,NaN,1,1,"dead batteries of recorded, not recorded"
29,26,18_03_10_2,PC0000_0027,E1 648,3/10/2018,11:00:00 AM,NaN,1,1,NaN
30,27,18_03_10_3,PC0000_0028,E1 648,3/10/2018,12:00:00 PM,NaN,1,1,NaN
31,28,18_03_10_4,PC0000_0029,E1 648,3/10/2018,01:00:00 PM,NaN,1,1,"dead batteries of recorder, only 6min recorded"
32,29,18_03_10_5,PC0000_0030,E1 648,3/10/2018,02:00:00 PM,NaN,1,1,NaN
33,30,18_03_10_6,PC0000_0031,E1 648,3/10/2018,03:00:00 PM,NaN,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...
1456,1453,19_12_20_01,PC0001_1239,B1 602,12/20/2019,06:00:00 PM,dusk,0,1,NaN
1457,1454,19_12_20_02,PC0001_1240,B1 602,12/20/2019,07:00:00 PM,dark,0,1,NaN
1458,1455,19_12_20_03,PC0001_1241,B1 602,12/20/2019,08:00:00 PM,dark,0,1,NaN
1459,1456,19_12_20_04,PC0001_1242,B1 602,12/20/2019,09:00:00 PM,dark,0,1,NaN
1460,1457,19_12_20_05,PC0001_1243,B1 602,12/20/2019,10:00:00 PM,dark,0,1,NaN
1461,1458,19_12_20_06,PC0001_1244,B1 602,12/20/2019,11:00:00 PM,dark,0,1,NaN
1462,1459,19_12_23_01,PC0001_1245,B1 602,12/23/2019,06:00:00 AM,Dawn,0,1,NaN
1463,1460,19_12_23_02,PC0001_1246,B1 602,12/23/2019,07:00:00 AM,clouded,0,1,NaN
1464,1461,19_12_23_03,PC0001_1247,B1 602,12/23/2019,08:00:00 AM,clouded,0,1,NaN
1465,1462,19_12_23_04,PC0001_1248,B1 602,12/23/2019,09:00:00 AM,clouded,0,1,NaN
1466,1463,19_12_23_05,NaN,B1 602,12/23/2019,10:00:00 AM,clouded,0,1,File error
1467,1464,19_12_23_06,PC0001_1250,B1 602,12/23/2019,11:00:00 AM,sun,0,1,"only 7min recorded, had to abbort PC because o..."
1468,1465,20_01_23_1,PC0001_1251,D100 641,1/23/2020,06:00:00 PM,dusk,0,1,NaN
1469,1466,20_01_23_2,PC0001_1252,D100 641,1/23/2020,07:00:00 PM,dark,0,1,NaN
1470,1467,20_01_23_3,PC0001_1253,D100 641,1/23/2020,08:00:00 PM,dark,0,1,NaN
1471,1468,20_01_23_4,PC0001_1254,D100 641,1/23/2020,09:00:00 PM,dark,0,1,NaN
1472,1469,20_01_23_5,PC0001_1255,D100 641,1/23/2020,10:00:00 PM,dark,0,1,NaN
1473,1470,20_01_23_6,PC0001_1256,D100 641,1/23/2020,11:00:00 PM,dark,0,1,NaN
1474,1471,20_01_24_1,PC0001_1257,C10 621,1/24/2020,06:00:00 PM,dusk,0,1,NaN
1475,1472,20_01_24_2,PC0001_1258,C10 621,1/24/2020,07:00:00 PM,dark,0,1,rain
1476,1473,20_01_24_3,PC0001_1259,C10 621,1/24/2020,08:00:00 PM,dark,0,1,NaN
1477,1474,20_01_24_4,PC0001_1260,C10 621,1/24/2020,09:00:00 PM,dark,0,1,NaN
1478,1475,20_01_24_5,PC0001_1261,C10 621,1/24/2020,10:00:00 PM,dark,0,1,NaN
1479,1476,20_01_24_6,PC0001_1262,C10 621,1/24/2020,11:00:00 PM,dark,0,1,NaN
1480,1477,20_02_03_1,PC0001_1263,B1 602,2/3/2020,06:08:00 AM,dawn,0,1,NaN
1481,1478,20_02_03_2,PC0001_1264,B1 602,2/3/2020,07:00:00 AM,clouded,0,1,NaN
1482,1479,20_02_03_3,PC0001_1265,B1 602,2/3/2020,08:00:00 AM,clouded,0,1,NaN
1483,1480,20_02_03_4,PC0001_1266,B1 602,2/3/2020,09:00:00 AM,clouded,0,1,NaN
1484,1481,20_02_03_5,PC0001_1267,B1 602,2/3/2020,10:00:00 AM,clouded,0,1,NaN
1485,1482,20_02_03_6,PC0001_1268,B1 602,2/3/2020,11:00:00 AM,clouded,0,1,NaN

In [44]:
point_count_data.head(20)

4,field_name,Point_count_ID,Site,Species_common_name,Est_distance,PC_time,Time_of_day,Audio_visual,Notes
5,1,18_03_06_1,E100 edge,NaN,10,00:00:00,10:15:00 AM,A,Shwit ... Shwit ... Shwit irregularly repeated...
6,2,18_03_06_1,E100 edge,Fluffy-backed Tit-babbler,NaN,00:00:07,10:15:07 AM,A,NaN
7,3,18_03_06_1,E100 edge,Blue-eared Barbet,60,00:00:37,10:15:37 AM,A,also at 12:24
8,4,18_03_06_1,E100 edge,Chestnut-winged Babbler,100,00:00:50,10:15:50 AM,A,NaN
9,5,18_03_06_1,E100 edge,Blue-eared Barbet,30,00:00:54,10:15:54 AM,A,NaN
10,6,18_03_06_1,E100 edge,Orthotomus,NaN,00:01:52,10:16:52 AM,A,NaN
11,7,18_03_06_1,E100 edge,Greater Coucal,0,00:01:58,10:16:58 AM,A,NaN
12,8,18_03_06_1,E100 edge,Bold-striped Tit-babbler,50,00:02:17,10:17:17 AM,A,NaN
13,9,18_03_06_1,E100 edge,Bold-striped Tit-babbler,50,00:02:17,10:17:17 AM,A,NaN
14,10,18_03_06_1,E100 edge,Little Spiderhunter,15,00:02:45,10:17:45 AM,A,NaN
15,11,18_03_06_1,E100 edge,Yellow-bellied Bulbul,28,00:03:00,10:18:00 AM,A,JA40; JA41
16,12,18_03_06_1,E100 edge,Maroon Woodpecker,10,00:03:20,10:18:20 AM,A,NaN
17,13,18_03_06_1,E100 edge,Great Argus,100,00:03:32,10:18:32 AM,A,NaN
18,14,18_03_06_1,E100 edge,Black-and-yellow Broadbill,30,00:04:20,10:19:20 AM,A,Kheeee
19,15,18_03_06_1,E100 edge,Smiths Giant Gecko,30,00:04:29,10:19:29 AM,A,NaN
20,16,18_03_06_1,E100 edge,Rufous Piculet,15,00:04:32,10:19:32 AM,A,Drumming
21,17,18_03_06_1,E100 edge,Blue-eared Barbet,40,00:06:03,10:21:03 AM,A,At 12:22 both barbets calling simultaneously
22,18,18_03_06_1,E100 edge,Smiths Giant Gecko,30,00:06:43,10:21:43 AM,A,NaN
23,19,18_03_06_1,E100 edge,Spectacled Bulbul,30,00:07:26,10:22:26 AM,A,NaN
24,20,18_03_06_1,E100 edge,Yellow-bellied Bulbul,25,00:08:33,10:23:33 AM,A,NaN

In [43]:
point_count_data['Species_common_name'].value_counts().head(30)

Bold-striped Tit-babbler      708
Yellow-vented Bulbul          598
House Gecko                   486
Human noise                   400
Yellow-bellied Prinia         398
Little Spiderhunter           378
Tree Hole Frog                372
Black-headed Bulbul           298
Chestnut-winged Babbler       296
Cricket Frog                  279
Rufous-tailed Tailorbird      257
Spectacled Bulbul             241
Swift                         216
Smiths Giant Gecko            207
Bird                          202
Ashy Tailorbird               195
Fluffy-backed Tit-babbler     188
Greater Coucal                184
Slender-billed Crow           174
Malaysian Pied Fantail        156
Four-lined Tree Frog          140
Bornean Gibbon                136
White-crowned Shama           132
Great Argus                   124
Rough Guardian Frog           124
Plaintive Cuckoo              114
Yellow-rumped Flowerpecker    107
Northern Torrent Frog         106
Blue-eared Barbet             100
Lowland Litter Frog            99
Name: Species_common_name, dtype: int64

In [46]:
list_of_files = ['PC0001_0828',
'PC0001_1178',
'PC0001_1204',
'PC0001_1268',
'SY0000_0059',
'SY0000_0060',
'SY0000_0061',
'SY0000_0062',
'SY0000_0063']

df = point_count_rec[point_count_rec['Audio_file'].isin(list_of_files)]
df

3,field_name,Point_count_ID,Audio_file,Site,Date,Time,Weather,Adi_Syamin,Jani,Notes
1002,999,19_08_26_02,SY0000_0059,D Matrix,8/26/2019,07:00:00 AM,sun,1,0,NaN
1003,1000,19_08_26_03,SY0000_0060,D Matrix,8/26/2019,08:00:00 AM,sun,1,0,NaN
1004,1001,19_08_26_04,SY0000_0061,D Matrix,8/26/2019,09:00:00 AM,sun,1,0,NaN
1005,1002,19_08_26_05,SY0000_0062,D Matrix,8/26/2019,10:00:00 AM,sun,1,0,NaN
1006,1003,19_08_26_06,SY0000_0063,D Matrix,8/26/2019,11:00:00 AM,sun,1,0,NaN
1045,1042,19_09_07_03,PC0001_0828,C10 621,9/7/2019,08:00:00 AM,sun,0,1,NaN
1395,1392,19_11_27_02,PC0001_1178,VJR 2,11/27/2019,07:00:00 AM,sun,0,1,NaN
1426,1423,19_12_09_04,PC0001_1204,VJR 1,12/9/2019,09:00:00 PM,dark,0,1,NaN
1485,1482,20_02_03_6,PC0001_1268,B1 602,2/3/2020,11:00:00 AM,clouded,0,1,NaN

In [48]:
list_Point_count_IDs = df['Point_count_ID'].to_list()
list_Point_count_IDs

['19_08_26_02',
 '19_08_26_03',
 '19_08_26_04',
 '19_08_26_05',
 '19_08_26_06',
 '19_09_07_03',
 '19_11_27_02',
 '19_12_09_04',
 '20_02_03_6']

In [49]:
df_data = point_count_data[point_count_data['Point_count_ID'].isin(list_Point_count_IDs)]
df_data

4,field_name,Point_count_ID,Site,Species_common_name,Est_distance,PC_time,Time_of_day,Audio_visual,Notes
9109,9105,19_08_26_02,D Matrix,Bornean Gibbon,50,00:19:50,07:19:50 AM,A,NaN
9110,9106,19_08_26_03,D Matrix,Bornean Orang-utan,100,00:01:44,08:01:44 AM,A,NaN
9111,9107,19_08_26_03,D Matrix,Human noise,NaN,00:02:15,08:02:15 AM,NaN,Airplane
9112,9108,19_08_26_03,D Matrix,Common Sun Skink,1,00:12:55,08:12:55 AM,V,NaN
9113,9109,19_08_26_04,D Matrix,Human noise,NaN,00:05:30,09:05:30 AM,NaN,Airplane
9114,9110,19_08_26_04,D Matrix,Bearded Pig,20,00:14:16,09:14:16 AM,A,NaN
9115,9111,19_08_26_05,D Matrix,NaN,NaN,00:00:00,10:00:00 AM,A,No data
9116,9112,19_08_26_06,D Matrix,NaN,NaN,00:00:00,11:00:00 AM,A,No data
9609,9605,19_09_07_03,C10 621,Yellow-vented Bulbul,14,00:00:03,08:00:03 AM,A,NaN
9610,9606,19_09_07_03,C10 621,Yellow-vented Bulbul,14,00:00:03,08:00:03 AM,A,NaN
9611,9607,19_09_07_03,C10 621,Yellow-vented Bulbul,14,00:00:03,08:00:03 AM,A,NaN
9612,9608,19_09_07_03,C10 621,Yellow-vented Bulbul,14,00:00:12,08:00:12 AM,A,NaN
9613,9609,19_09_07_03,C10 621,Sooty-capped Babbler,10,00:00:16,08:00:16 AM,A,NaN
9614,9610,19_09_07_03,C10 621,Bold-striped Tit-babbler,15,00:00:21,08:00:21 AM,A,NaN
9615,9611,19_09_07_03,C10 621,White-crowned Shama,20,00:00:47,08:00:47 AM,A,also at 13:46
9616,9612,19_09_07_03,C10 621,Crimson Sunbird,15,00:01:35,08:01:35 AM,A,NaN
9617,9613,19_09_07_03,C10 621,Chestnut-winged Babbler,20,00:02:04,08:02:04 AM,A,NaN
9618,9614,19_09_07_03,C10 621,Pycnonotus,20,00:03:04,08:03:04 AM,V,eating macaranga seeds
9619,9615,19_09_07_03,C10 621,Swift,20,00:03:24,08:03:24 AM,V,NaN
9620,9616,19_09_07_03,C10 621,Chestnut-winged Babbler,10,00:03:55,08:03:55 AM,A,NaN
9621,9617,19_09_07_03,C10 621,Rufous-tailed Tailorbird,10,00:06:02,08:06:02 AM,A,NaN
9622,9618,19_09_07_03,C10 621,White-crowned Shama,10,00:09:43,08:09:43 AM,A,NaN
9623,9619,19_09_07_03,C10 621,Slender-billed Crow,50,00:10:40,08:10:40 AM,AV,"Also at 18:16 (15m, V)"
9624,9620,19_09_07_03,C10 621,Slender-billed Crow,50,00:10:40,08:10:40 AM,AV,NaN
9625,9621,19_09_07_03,C10 621,Slender-billed Crow,50,00:10:40,08:10:40 AM,AV,NaN
9626,9622,19_09_07_03,C10 621,Slender-billed Crow,50,00:10:40,08:10:40 AM,AV,NaN
9627,9623,19_09_07_03,C10 621,Slender-billed Crow,50,00:10:40,08:10:40 AM,AV,NaN
9628,9624,19_09_07_03,C10 621,Slender-billed Crow,50,00:10:40,08:10:40 AM,AV,NaN
9629,9625,19_09_07_03,C10 621,Fluffy-backed Tit-babbler,20,00:17:46,08:17:46 AM,A,NaN
9630,9626,19_09_07_03,C10 621,Black-throated Babbler,15,00:19:41,08:19:41 AM,A,NaN
...,...,...,...,...,...,...,...,...,...
12445,12441,19_11_27_02,VJR 2,Chestnut-backed Scimitar Babbler,25,00:07:45,07:07:45 AM,A,NaN
12446,12442,19_11_27_02,VJR 2,Black-winged flycatcher-shrike,12,00:08:03,07:08:03 AM,A,NaN
12447,12443,19_11_27_02,VJR 2,Ferruginous Babbler,15,00:08:20,07:08:20 AM,A,NaN
12448,12444,19_11_27_02,VJR 2,Oriental Dwarf Kingfisher,12,00:09:14,07:09:14 AM,A,NaN
12449,12445,19_11_27_02,VJR 2,Black-naped Monarch,35,00:10:12,07:10:12 AM,A,NaN
12450,12446,19_11_27_02,VJR 2,Slender-billed Crow,80,00:11:00,07:11:00 AM,A,NaN
12451,12447,19_11_27_02,VJR 2,Ashy Tailorbird,20,00:11:40,07:11:40 AM,A,NaN
12452,12448,19_11_27_02,VJR 2,Crested Serpent Eagle,80,00:11:52,07:11:52 AM,A,Also at 12:30
12453,12449,19_11_27_02,VJR 2,Bornean Gibbon,90,00:12:14,07:12:14 AM,A,NaN
12454,12450,19_11_27_02,VJR 2,Black-capped Babbler,35,00:13:12,07:13:12 AM,A,NaN
12455,12451,19_11_27_02,VJR 2,Sunbird,25,00:13:56,07:13:56 AM,A,Sweetsweetsweet-sweet upslurred
12456,12452,19_11_27_02,VJR 2,Sooty-capped Babbler,15,00:14:33,07:14:33 AM,A,NaN
12457,12453,19_11_27_02,VJR 2,Hornbill,80,00:14:54,07:14:54 AM,A,wingflaps
12458,12454,19_11_27_02,VJR 2,Van Hasselt's Sunbird,10,00:15:36,07:15:36 AM,A,NaN
12459,12455,19_11_27_02,VJR 2,Little Spiderhunter,12,00:15:52,07:15:52 AM,A,NaN
12460,12456,19_11_27_02,VJR 2,Crested Jay,6,00:19:25,07:19:25 AM,AV,NaN
12461,12457,19_11_27_02,VJR 2,Crested Jay,6,00:19:25,07:19:25 AM,AV,NaN
12689,12685,19_12_09_04,VJR 1,NaN,NaN,00:00:00,09:00:00 PM,NaN,No data
12909,12905,20_02_03_6,B1 602,Rufous-fronted Babbler,35,00:00:06,11:00:06 AM,A,NaN
12910,12906,20_02_03_6,B1 602,Yellow-rumped Flowerpecker,20,00:00:21,11:00:21 AM,A,also at 10:15
12911,12907,20_02_03_6,B1 602,Dark-necked Tailorbird,15,00:00:30,11:00:30 AM,A,NaN
12912,12908,20_02_03_6,B1 602,NaN,20,00:03:03,11:03:03 AM,A,NaN
12913,12909,20_02_03_6,B1 602,Ashy Tailorbird,20,00:03:15,11:03:15 AM,A,NaN
12914,12910,20_02_03_6,B1 602,Black-headed Bulbul,25,00:03:17,11:03:17 AM,A,NaN
12915,12911,20_02_03_6,B1 602,Little Spiderhunter,10,00:04:39,11:04:39 AM,A,NaN
12916,12912,20_02_03_6,B1 602,Spectacled Bulbul,20,00:06:20,11:06:20 AM,A,NaN
12917,12913,20_02_03_6,B1 602,Buff-vented Bulbul,20,00:08:34,11:08:34 AM,A,NaN
12918,12914,20_02_03_6,B1 602,Black-winged flycatcher-shrike,15,00:10:58,11:10:58 AM,A,NaN
12919,12915,20_02_03_6,B1 602,Little Spiderhunter,10,00:13:26,11:13:26 AM,A,NaN
12920,12916,20_02_03_6,B1 602,Black-headed Bulbul,10,00:16:58,11:16:58 AM,A,NaN

In [50]:
df_data['Species_common_name'].value_counts().head(30)

Slender-billed Crow                 7
Chestnut-winged Babbler             4
Yellow-vented Bulbul                4
Fluffy-backed Tit-babbler           4
Little Spiderhunter                 4
Bornean Gibbon                      3
Human noise                         2
Black-capped Babbler                2
Black-headed Bulbul                 2
Black-winged flycatcher-shrike      2
Ashy Tailorbird                     2
Crested Jay                         2
Yellow-rumped Flowerpecker          2
White-crowned Shama                 2
Sooty-capped Babbler                2
Chestnut-backed Scimitar Babbler    1
Bearded Pig                         1
Spectacled Bulbul                   1
Bornean Orang-utan                  1
Black-throated Babbler              1
Buff-vented Bulbul                  1
Rufous-fronted Babbler              1
Swift                               1
Crimson Sunbird                     1
Pycnonotus                          1
Black-and-yellow Broadbill          1
Oriental Dwarf Kingfisher           1
Crested Serpent Eagle               1
Bold-striped Tit-babbler            1
Short-tailed Babbler                1
Name: Species_common_name, dtype: int64