In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

locations = pd.read_csv('../data/csv/Locations.csv')
point_count_rec = pd.read_csv('../data/csv/Point_count_recordings.csv')
point_count_data = pd.read_csv('../data/csv/Point_count_data.csv')

display(locations)
# display(point_count_rec.head(10))

loc_list = locations.sort_values(by = 'Location name')['Location name'].to_list()

,Location name,New,Latitude,Longitude,Type,Elevation,ET before arrival,Notes
0,E100 edge,yes,4.68392,117.58604,Transect,379,"30 minutes drive, 1.5 hour walk",covered by leaves
1,D100 641,yes,4.71129,117.58753,Transect,479,"20 minutes drive, 30 minutes walk",NaN
2,C10 621,yes,4.71118,117.61899,Transect,403,"15 minutes drive, 45 minutes walk",NaN
3,B10,yes,4.72747,117.61433,Transect,352,takes only 30min to get there (walk + car),NaN
4,E1 648,yes,4.69372,117.58118,Transect,428,"30 minutes drive, 30 minutes walk",NaN
5,D Matrix,yes,4.70272,117.59141,Transect,407,"20 minutes drive, 10 minutes walk","Not really inside the official SAFE matrix, se..."
6,C Matrix,yes,4.71011,117.61071,Transect,271,"10 minutes drive, 20 minutes walk",Semi-permanent marsh nearby (appx. 7 m from re...
7,Riparian 1,yes,4.65041,117.54203,Transect,80,"1 hour drive, 5 minutes walk",NaN
8,Riparian 2,yes,4.65278,117.54653,Transect,172,"1 hour drive, 30 minutes walk",NaN
9,VJR 1,yes,4.66443,117.53513,Transect,312,"1 hour drive, 2 hours walk",NaN
10,VJR 2,yes,4.66803,117.53897,Transect,391,"1 hour drive, 2.5 hours walk",NaN
11,B1 602,yes,4.72834,117.62350,Transect,326,"10 minutes drive, 1 hour walk",NaN
12,OP3 843,yes,4.64005,117.45265,Transect,325,NaN,NaN
13,OP Belian,yes,4.63707,117.52016,Transect,282,NaN,planted in 2012
14,LFE 703,yes,4.72441,117.59713,Transect,416,15 minutes walk,NaN
15,LFE 705,yes,4.72792,117.59558,Transect,461,30 minutes walk,NaN
16,B matrix 599,yes,4.72567,117.61924,Transect,312,"10 minutes drive, 30 minutes walk",NaN
17,D1 634,yes,4.71586,117.58414,Transect,425,"20 minutes drive, 45 minutes walk",NaN
18,D10 639,yes,4.70556,117.58361,Transect,323,"20 minutes drive, 30 minutes walk",NaN
19,D100 643,yes,4.71161,117.59318,Transect,337,"20 minutes drive, 30 minutes walk",NaN
20,E Matrix 647,yes,4.69588,117.57704,Transect,463,"30 minutes drive, 1 hour walk",NaN
21,E1 651,yes,4.69891,117.58263,Transect,465,"30 minutes drive, 40 minutes walk",NaN
22,E10 654,yes,4.69128,117.57580,Transect,400,"30 minutes drive, 1 hour walk",NaN
23,E100 658,yes,4.68914,117.58446,Transect,403,"30 minutes drive, 1 hour walk",NaN
24,LFE river,yes,4.72500,117.59788,Transect,429,10 minutes walk,NaN
25,B1,yes,4.72834,117.62350,Transect,326,"10 minutes drive, 1 hour walk",NaN

In [2]:
# setting the most informative rows as columns
point_count_data.columns = point_count_data.iloc[4]
df_data = point_count_data.drop(point_count_data.index[[0,1,2,3,4]])

point_count_rec.columns = point_count_rec.iloc[3]
df_rec = point_count_rec.drop(point_count_rec.index[[0,1,2,3]])

display(df_rec.head(5))

3,field_name,Point_count_ID,Audio_file,Site,Date,Time,Weather,Adi_Syamin,Jani,Notes
4,1,18_03_06_1,PC0000_0003,E100 edge,3/6/2018,10:15:00 AM,sun,1,1,NaN
5,2,18_03_06_2,PC0000_0004,E100 edge,3/6/2018,11:00:00 AM,sun,1,1,NaN
6,3,18_03_06_3,PC0000_0005,E100 edge,3/6/2018,12:00:00 PM,sun,1,1,NaN
7,4,18_03_06_4,PC0000_0006,E100 edge,3/6/2018,01:00:00 PM,sun,1,1,NaN
8,5,18_03_06_5,PC0000_0007,E100 edge,3/6/2018,02:00:00 PM,sun,1,1,NaN

In [3]:
display(df_rec.describe())

3,field_name,Point_count_ID,Audio_file,Site,Date,Time,Weather,Adi_Syamin,Jani,Notes
count,1482,1481,1460,1482,1482,1477,1436,1482,1482,96
unique,1482,1481,1460,15,257,87,38,2,2,80
top,1441,18_09_06_1,PC0001_0062,B1 602,6/7/2018,08:00:00 PM,dark,1,1,recorder on nice height about 1.20m on cut wil...
freq,1,1,1,124,14,83,633,1050,1037,6

In [4]:
print('out of', len(loc_list), 'locations only', len(df_rec['Site'].unique()), 'of them seems to have any recordings at all')

out of 26 locations only 15 of them seems to have any recordings at all

In [5]:
rec_loc = df_rec['Site'].unique()
rl = locations[locations['Location name'].isin(rec_loc)].reset_index() # location df only with recordings 

print('Recordings/sites:')
df_rec['Site'].value_counts()

Recordings/sites:

B1 602        124
OP Belian     120
OP3 843       114
E100 edge     113
D100 641      109
B10           108
Riparian 2    107
VJR 1         102
Riparian 1    102
D Matrix      102
C10 621        98
VJR 2          97
E1 648         96
C Matrix       84
LFE river       6
Name: Site, dtype: int64

In [7]:
%store locations
%store rl 
%store df_rec

Stored 'locations' (DataFrame)
Stored 'rl' (DataFrame)
Stored 'df_rec' (DataFrame)